<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Fitroute</title>
  </head>
  <body>
    <h2>Hi {{name}}! </h2>
    <p>Please verified your email for using Fitroute.
      <br />
      <p>Press to link: <b>{{code}}</b></p>
      <br />
      If you already click to link, you can ignore this email.
    </p>
  </body>
</html>