<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Fitroute</title>
  </head>
  <body>
    <h2>Hi {{name}}! </h2>
    <p>Need to reset your password? Use your secret code!
      <br />
      <p>Reset Code: <b>{{code}}</b></p>
      <br />
      If you did not forget your password, you can ignore this email.
    </p>
  </body>
</html>